<!-- <!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test Site</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body> -->
  <!-- <app-root></app-root> -->
<!-- </body>
</html> -->

<!-- <div>
  <app-header></app-header>
</div> -->
<div>
  <app-navigation-bar></app-navigation-bar>
</div>
<div>
  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
</div>
<div>
  <app-landing></app-landing>
</div>
<!-- <app-navigation-bar></app-navigation-bar> -->